extends layout

block header
  if showBanner
    .banner
      .message
        strong Congratulations, your account is set up.
        span.secondary-text See which brands have requested your content.
block content
  .dashboard
    .user
      .block.profile
        .photo
        p Account since #{moment(ambassador.created).format('MMM YYYY')}
        h1 #{ambassador.displayName()}
        h2
          a(href='/account/stripe/dashboard?account=true') View Stripe account

      .block.available
        p Your balance
        h1 $#{((balanceAvailable + balancePending) / 100).toFixed(2)}
        h2 $#{(balanceAvailable / 100).toFixed(2)} available
      .block.stripe
        form.payout(action='/account/stripe/payout', method='POST', autocomplete='off')
          input(class='primary' type='submit', value='Pay out now' disabled=(balanceAvailable===0))
        p
          a(href='/account/stripe/dashboard') View payouts on Stripe

    section.terms
      a.button.primary(href='/ambassadors/terms_of_acceptance') View terms of acceptance

    section.contracts
      h4 Recent requests

      if contracts.length === 0
        .no-contracts
          .rocket
          h1 No contracts to display yet
      else
        .list
          .row
            .cell.name Brand Name
            .cell Link
            .cell Date
            .cell Amount
            .cell Accept Terms
          each contract in contracts
            .row
              .cell.name= contract.brand.displayName()
              .cell.postLink
                a(href=contract.postLink, class='postLink') #{contract.postLink}
              .cell.date= moment(new Date(Date.parse(contract.created))).calendar()
              .cell.price $#{(contract.amount / 100).toFixed(2)}
              if contract.accepted
                .cell.accepted 'Terms Accepted'
              else
                .cell.accepted
                  form(method='POST' action="/ambassadors/accept_contract" autocomplete='off')
                    input(type="hidden", name="contractID" value= contract.id)
                    input(type='submit', value='Accept Terms')



